<!DOCTYPE html>
<html ng-app>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/reset-css.css' />
        <link rel='stylesheet' href='/stylesheets/admin.css' />
        <link rel='stylesheet' type="text/css" href='/javascripts/bootstrap/css/bootstrap.min.css'>
    </head>
    <body>
        <script src="/javascripts/admin/user_management.js"></script>
        <header>
            <div id='logo'>Logo</div>
            <div id='title'><%= title %></div>
            <div style='clear:both;'/>
        </header>
        <%- include ../layouts/navigation.ejs %>
        
        
        <main>
            <div class='content'>
            <table>
                <thead>
                    <th>Имя</th>
                    <th>Пароль</th>
                    <th>Действия</th>
                </thead>
                <tbody>
                    <% for(var i in data) { %>
                    <tr>
                        <td><%= data[i].user %></td>
                        <td><%= data[i].password %></td>
                        <td><%= data[i].id %></td>                    
                    </tr>
                    <% } %>
                </tbody>
            </table>
            </div>
        </main>
        
        <div style='clear:both;'/>
    </body>
</html>